### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup

import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Read School and Student Data File and store into Pandas Data Frames

school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [3]:
# Read School and Student Data File and store into Pandas Data Frames

school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [4]:
# Combine the data into a single dataset

all_data = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [5]:
# All Data Top 5

all_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [6]:
# School Data Top 5

school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [7]:
# Student Data Top 5

student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [8]:
# Total Count of Schools

school_total = school_data["school_name"].count()
school_total

15

In [9]:
# Total Count of Students

student_total = all_data["student_name"].count()
student_total

39170

In [10]:
# Total Budget

budget_total = school_data["budget"].sum()
budget_total

24649428

In [11]:
# Average Math Scores

math_average = all_data["math_score"].mean()
math_average

78.98537145774827

In [12]:
# Average Reading Scores

reading_average = all_data["reading_score"].mean()
reading_average

81.87784018381414

In [13]:
# Percent Passing Math

passing_math = (all_data["math_score"]>70).sum() / all_data["math_score"].count()* 100
passing_math

72.39213683941792

In [14]:
# Percent Passing Reading

passing_reading = (all_data["reading_score"]>70).sum() / all_data["reading_score"].count()* 100
passing_reading

82.97166198621395

In [15]:
# Percent Overall Passing
overall = ((reading_average + math_average) /2)
overall

80.43160582078121

In [16]:
# District Summary Table

district_summary_table = pd.DataFrame({"Total Schools":[school_total], "Total Students":[student_total], "Total Budget":[budget_total], "Average Math Score":[math_average], "Reading Math Score":[reading_average], "% Passing Math":[passing_math], "% Passing Reading":[passing_reading], "% Overall Passing Rate":[overall]})
district_summary_table

,Total Schools,Total Students,Total Budget,Average Math Score,Reading Math Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,72.392137,82.971662,80.431606

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [17]:
# School Count

school_count = len(all_data["school_name"].unique())
school_count

15

In [18]:
# School Types

school_type = school_data.set_index(["school_name"])["type"]
school_type

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [19]:
#Students per School

student_per_school= all_data.groupby(["school_name"])["size"].mean()
student_per_school

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: size, dtype: int64

In [20]:
# Total Budget

school_budget = all_data.groupby(["school_name"])["budget"].mean()
school_budget

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [21]:
# Per Student Budget

per_student_budget = school_budget/student_per_school
per_student_budget

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [22]:
# Average Math Score

average_math_perschool= all_data.groupby(["school_name"])["math_score"].mean()
average_math_perschool

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [23]:
# Average Reading Score

average_reading_perschool= all_data.groupby(["school_name"])["reading_score"].mean()
average_reading_perschool

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [24]:
#* % Passing Math per School

pas_math_scor = all_data.loc[all_data["math_score"]>=70]
pas_math_scor


group_math_sch = pas_math_scor["school_name"].value_counts()
group_math_sch.head()

percent_math = group_math_sch/student_per_school*100
percent_math

Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [25]:
# % Passing Reading per School

pas_reading_scor = all_data.loc[all_data["reading_score"]>=70]
pas_reading_scor

group_reading_sch = pas_reading_scor["school_name"].value_counts()
group_reading_sch

percent_reading = group_reading_sch/student_per_school*100
percent_reading

Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [26]:
# Overall Passing Rate

overall_pr = percent_math + percent_reading/student_per_school
overall_pr

Bailey High School       66.696530
Cabrera High School      94.185705
Figueroa High School     66.015849
Ford High School         68.338554
Griffin High School      93.458542
Hernandez High School    66.770413
Holden High School       92.731271
Huang High School        65.711799
Johnson High School      66.074611
Pena High School         94.694331
Rodriguez High School    66.386652
Shelton High School      93.921553
Thomas High School       93.331687
Wilson High School       93.910004
Wright High School       93.387006
dtype: float64

In [36]:
# Reset all index
#school_typreset = school_type.reset_index(drop=True)
#student_per_schreset = student_per_school.reset_index(drop=True)
#per_student_budreset = per_student_budget.reset_index(drop=True)
#school_budreset = school_budget.reset_index(drop=True)
#average_math_perschreset = average_math_perschool.reset_index(drop=True)
#average_reading_perschreset = average_reading_perschool.reset_index(drop=True)
#per_math_reset = percent_math.reset_index(drop=True)
#per_reading_reset = percent_reading.reset_index(drop=True)
#overall_prreset = overall_pr.reset_index(drop=True)

In [39]:
# School Summary Table

school_summary_df = pd.DataFrame({"School Type":school_type, "Total Students":student_per_school, "Total School Budget":school_budget, "Per Student Budget":per_student_budget, "Average Math Score":average_math_perschool, "Average Reading Score":average_reading_perschool, "% Passing Math":percent_math, "% Passing Reading":percent_reading, "% Overall Passing Rate":overall_pr})
school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,66.696530
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,94.185705
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,66.015849
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,68.338554
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,93.458542
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,66.770413
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,92.731271
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,65.711799
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,66.074611
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,94.694331
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,66.386652
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,93.921553
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,93.331687
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,93.910004
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,93.387006

## ---------------------------------------------------------------------------------------------------------------------------------

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [40]:
school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,66.696530
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,94.185705
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,66.015849
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,68.338554
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,93.458542

In [41]:
# Top 5 Schools

top_schools = school_summary_df.sort_values(by=['% Overall Passing Rate'], ascending=False)

top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,94.694331
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,94.185705
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,93.921553
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,93.910004
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,93.458542

## ---------------------------------------------------------------------------------------------------------------------------------

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [42]:
school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,66.696530
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,94.185705
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,66.015849
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,68.338554
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,93.458542

In [43]:
# Bottom 5 Schools

bottom_schools = school_summary_df.sort_values(by=['% Overall Passing Rate'], ascending=True)
bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,65.711799
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,66.015849
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,66.074611
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,66.386652
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,66.696530

## ---------------------------------------------------------------------------------------------------------------------------------
## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [44]:
# Math Scores by Grade

math_9th = student_data.loc[student_data["grade"] == "9th"].groupby(["school_name"])['math_score'].mean()
math_9th
math_10th = student_data.loc[student_data["grade"] == "10th"].groupby(["school_name"])['math_score'].mean()
math_10th
math_11th = student_data.loc[student_data["grade"] == "11th"].groupby(["school_name"])['math_score'].mean()
math_11th
math_12th = student_data.loc[student_data["grade"] == "12th"].groupby(["school_name"])['math_score'].mean()
math_12th

math_table = pd.DataFrame({"9th":math_9th, "10th":math_10th, "11th":math_11th, "12th":math_12th})
math_table

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## ---------------------------------------------------------------------------------------------------------------------------------
## Reading Score by Grade

* Perform the same operations as above for reading scores

In [45]:
# Reading Scores by Grade

reading_9th = student_data.loc[student_data["grade"] == "9th"].groupby(["school_name"])['reading_score'].mean()
reading_9th
reading_10th = student_data.loc[student_data["grade"] == "10th"].groupby(["school_name"])['reading_score'].mean()
reading_10th
reading_11th = student_data.loc[student_data["grade"] == "11th"].groupby(["school_name"])['reading_score'].mean()
reading_11th
reading_12th = student_data.loc[student_data["grade"] == "12th"].groupby(["school_name"])['reading_score'].mean()
reading_12th

reading_table = pd.DataFrame({"9th":reading_9th, "10th":reading_10th, "11th":reading_11th, "12th":reading_12th})
reading_table

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## ---------------------------------------------------------------------------------------------------------------------------------
## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [46]:
school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,66.696530
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,94.185705
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,66.015849
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,68.338554
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,93.458542

In [47]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [48]:
school_summary_df["Spending Ranges (Per Student)"] = pd.cut(school_summary_df["Total School Budget"]/school_summary_df["Total Students"], spending_bins, labels=group_names)
school_summary_df

score_by_spending = school_summary_df.drop(columns=["School Type", "Total Students", "Total School Budget", "Per Student Budget"])
score_by_spending

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate,Spending Ranges (Per Student)
Bailey High School,77.048432,81.033963,66.680064,81.933280,66.696530,$615-645
Cabrera High School,83.061895,83.975780,94.133477,97.039828,94.185705,<$585
Figueroa High School,76.711767,81.158020,65.988471,80.739234,66.015849,$615-645
Ford High School,77.102592,80.746258,68.309602,79.299014,68.338554,$615-645
Griffin High School,83.351499,83.816757,93.392371,97.138965,93.458542,$615-645
Hernandez High School,77.289752,80.934412,66.752967,80.862999,66.770413,$645-675
Holden High School,83.803279,83.814988,92.505855,96.252927,92.731271,<$585
Huang High School,76.629414,81.182722,65.683922,81.316421,65.711799,$645-675
Johnson High School,77.072464,80.966394,66.057551,81.222432,66.074611,$645-675
Pena High School,83.839917,84.044699,94.594595,95.945946,94.694331,$585-615
Rodriguez High School,76.842711,80.744686,66.366592,80.220055,66.386652,$615-645
Shelton High School,83.359455,83.725724,93.867121,95.854628,93.921553,$585-615
Thomas High School,83.418349,83.848930,93.272171,97.308869,93.331687,$615-645
Wilson High School,83.274201,83.989488,93.867718,96.539641,93.910004,<$585
Wright High School,83.682222,83.955000,93.333333,96.611111,93.387006,<$585

In [49]:
#Scores by Spending 

range_by_spending = score_by_spending.groupby(["Spending Ranges (Per Student)"])
range_by_spending.mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,93.553497
$585-615,83.599686,83.885211,94.230858,95.900287,94.307942
$615-645,79.079225,81.891436,75.668212,86.106569,75.704636
$645-675,76.997210,81.027843,66.164813,81.133951,66.185607

## ---------------------------------------------------------------------------------------------------------------------------------
## Scores by School Size

* Perform the same operations as above, based on school size.

In [50]:
school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate,Spending Ranges (Per Student)
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,66.696530,$615-645
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,94.185705,<$585
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,66.015849,$615-645
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,68.338554,$615-645
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,93.458542,$615-645

In [51]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [52]:
type("School Size")

str

In [53]:
school_summary_df["School Size"] = pd.cut(school_summary_df["Total Students"], size_bins, labels=group_names)
school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate,Spending Ranges (Per Student),School Size
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,66.696530,$615-645,Large (2000-5000)
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,94.185705,<$585,Medium (1000-2000)
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,66.015849,$615-645,Large (2000-5000)
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,68.338554,$615-645,Large (2000-5000)
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,93.458542,$615-645,Medium (1000-2000)

In [54]:
score_by_size = school_summary_df.drop(columns=["School Type", "Total Students", "Total School Budget", "Per Student Budget"])
score_by_size

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate,Spending Ranges (Per Student),School Size
Bailey High School,77.048432,81.033963,66.680064,81.933280,66.696530,$615-645,Large (2000-5000)
Cabrera High School,83.061895,83.975780,94.133477,97.039828,94.185705,<$585,Medium (1000-2000)
Figueroa High School,76.711767,81.158020,65.988471,80.739234,66.015849,$615-645,Large (2000-5000)
Ford High School,77.102592,80.746258,68.309602,79.299014,68.338554,$615-645,Large (2000-5000)
Griffin High School,83.351499,83.816757,93.392371,97.138965,93.458542,$615-645,Medium (1000-2000)
Hernandez High School,77.289752,80.934412,66.752967,80.862999,66.770413,$645-675,Large (2000-5000)
Holden High School,83.803279,83.814988,92.505855,96.252927,92.731271,<$585,Small (<1000)
Huang High School,76.629414,81.182722,65.683922,81.316421,65.711799,$645-675,Large (2000-5000)
Johnson High School,77.072464,80.966394,66.057551,81.222432,66.074611,$645-675,Large (2000-5000)
Pena High School,83.839917,84.044699,94.594595,95.945946,94.694331,$585-615,Small (<1000)
Rodriguez High School,76.842711,80.744686,66.366592,80.220055,66.386652,$615-645,Large (2000-5000)
Shelton High School,83.359455,83.725724,93.867121,95.854628,93.921553,$585-615,Medium (1000-2000)
Thomas High School,83.418349,83.848930,93.272171,97.308869,93.331687,$615-645,Medium (1000-2000)
Wilson High School,83.274201,83.989488,93.867718,96.539641,93.910004,<$585,Large (2000-5000)
Wright High School,83.682222,83.955000,93.333333,96.611111,93.387006,<$585,Medium (1000-2000)

In [55]:
#Scores by Size 


school_size = score_by_size.groupby(["School Size"])
school_size.mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,93.712801
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,93.656899
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,69.988051

## Scores by School Type

* Perform the same operations as above, based on school type.

In [56]:
school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate,Spending Ranges (Per Student),School Size
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,66.696530,$615-645,Large (2000-5000)
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,94.185705,<$585,Medium (1000-2000)
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,66.015849,$615-645,Large (2000-5000)
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,68.338554,$615-645,Large (2000-5000)
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,93.458542,$615-645,Medium (1000-2000)

In [57]:
scores_by_type = school_summary_df.drop(columns=["Total Students", "Total School Budget", "Per Student Budget", "Spending Ranges (Per Student)", "School Size"])
scores_by_type.head()

,School Type,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Bailey High School,District,77.048432,81.033963,66.680064,81.933280,66.696530
Cabrera High School,Charter,83.061895,83.975780,94.133477,97.039828,94.185705
Figueroa High School,District,76.711767,81.158020,65.988471,80.739234,66.015849
Ford High School,District,77.102592,80.746258,68.309602,79.299014,68.338554
Griffin High School,Charter,83.351499,83.816757,93.392371,97.138965,93.458542

In [58]:
#Scores by Type of School

scores_type = scores_by_type.groupby(["School Type"])
scores_type.mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,93.702512
District,76.956733,80.966636,66.548453,80.799062,66.570630

## ----------------------------------------------------------------------------------------------------------

# Observations:
*In looking a Scores by School Type, you can conclude that charter type schools have higher passing rates across reading and math than the district schools. They are further verified by looking that the Top Five Performing Schools table,  were all charter schools.

*When looking at Math Scores by Grade VS. Reading Scores by
Grade, we can conclude, in general, students have lower math scores compared to
their reading scores.

*Overall, this is a great way to look at the data provided, get the additional information for educators to look at how they can improve their schools.